---
title: Syllabus
---

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="#" class="pure-menu-link pure-menu-heading">SYLLABUS</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="http://www.google.com" class="pure-menu-link">Assignments</a></li>
      <li class="pure-menu-item"><a href="http://www.google.com" class="pure-menu-link">Course Blog</a></li>
      <li class="pure-menu-item"><a href="http://www.google.com" class="pure-menu-link">Grades</a></li>
      <li class="pure-menu-item"><a href="http://www.google.com" class="pure-menu-link">Plagiarism Policy</a></li>
      <li class="pure-menu-item"><a href="http://www.google.com" class="pure-menu-link">Suggested Reading</a></li>
    </ul>
</div>
    <h1>Syllabus<br/> <small>CIS 3810 : Principles of New Media</small></h1>
    <hr>
    <div class="pure-g"><b>
      <div class="pure-u-1-5"><p>WEEK NUMBER</p></div>
      <div class="pure-u-2-5"><p>READING</p></div>
      <div class="pure-u-2-5"><p>SOFTWARE</p></div>
      </b>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week One</p></div>
      <div class="pure-u-2-5"><p>Introduction to free and open source media software
	  <ul>
	  <li><a href="http://twobits.net/pub/Kelty-TwoBits.pdf">Christopher Kelty's Two Bits: Introduction (Pages 1 - 17/ 17-33 PDF)</a></li>
	  <li><a href="https://en.wikipedia.org/wiki/Creative_Commons">Creative Commons Wikipedia Entry</a></li>
	  <li><a href="http://www.groklaw.net/article.php?story=20031231092027900">Understanding Open Source Software by Mark Webbink</a></li>
	  </ul>
      </p></div>
      <div class="pure-u-2-5"><p>The Text Editor
	  <ul>
	  <li><a href="https://atom.io/">ATOM</a></li>
	  <li><a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a></li>
	  <li><a href="https://www.gnu.org/software/emacs/">Emacs</a></li>
	  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction">Introduction to HTML</a></li>
	  <li><a href="https://github.com/EliCash82/resources/blob/master/TemplateOne.html">An HTML template</a></li>
	  </ul>
      </p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Two</p></div>
      <div class="pure-u-2-5"><p>The Current State of Media Studies
	  <ul>
	    <li><a href="http://faculty.georgetown.edu/irvinem/theory/Manovich-NewMedia.pdf">What is New Media?: Eight Propositions</a></li>
	    <li><a href="http://softwarestudies.com/softbook/manovich_softbook_11_20_2008.pdf">Software Takes Command</a></li>
	    <li><a href="http://dhdebates.gc.cuny.edu/debates/text/38">What is Digital Humanities and What's It Doing in English Departments</a></li>
	  </ul>
      </p></div>
      <div class="pure-u-2-5"><p>Introduction to Vocat
	  <ul>
	    <li><a href="http://baruch.vocat.io">Baruch Vocat Login</a></li>
	    <li><a href="http://docs.vocat.io">Vocat Help Documentation</a></li>
	  </ul>
      </p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Three</p></div>
      <div class="pure-u-2-5"><p>Historical Contexts and Present Day Disruptions
	<ul>
	  <li><a href="http://disfasia.net/readings/baudrillard.pdf#page=146">The Medium is The Message</a> (Pages 146-149)</li>
	  <li><a href="http://disfasia.net/readings/baudrillard.pdf#page=492">Simulation and Simulacra</a> (Pages 492 - 520)</li>
	  <li><i>Video</i> <a href="https://www.youtube.com/watch?v=LabqeJEOQyI">Clay Shirky: It's Not Information Overload.  It's Filter Failure.</a></li>
	</ul>
      </p></div>
      <div class="pure-u-2-5"><p>Introduction to Gimp
	  <ul>
	    <li><a href="http://www.gimp.org/">Download Gimp</a></li>
	    <li><a href="http://www.gimp.org/tutorials/">Gimp Tutorials</a></li>
	  </ul>
	  
      </p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Four</p></div>
      <div class="pure-u-2-5"><p>Napster and Millennial Tech Disruption
	<ul>
	  <li><i>Film</i> <a href="#">Downloaded</a></li>
	  <li><a href="http://www.ojphi.org/ojs/index.php/fm/article/view/5543/4122">Fifteen Years of 'Utopia': Napster and <i>Pitchfork</i> as technologies
	      of democratization</a></li>
    	</ul>
      </p></div>
      <div class="pure-u-2-5"><p>Multi-Platform Styling
	  <ul>
	    <li><a href="http://code.makery.ch/library/html-css/part3/">Introduction to CSS</a></li>
	    <li><a href="http://www.getbootstrap.com">Twitter Bootstrap</a></li>
	    <li><a href="http://purecss.io">Yahoo! Pure.css</a></li>
	  </ul>
      </p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Five</p></div>
      <div class="pure-u-2-5"><p>From Film to Digital Video & New/Social Media Narrative Techniques <br/> Film: All Watched Over by Machines of Loving Grace/The Loving Trap</p></div>
      <div class="pure-u-2-5"><p>Blender, VLC, and Gimp: Creating the Animated Gif</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Six</p></div>
      <div class="pure-u-2-5"><p>Open Source/Creative Commons Content and The Internet Archive <br/> Film: Remix</p></div>
      <div class="pure-u-2-5"><p>Content Deployment from Github to Tumblr</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Seven</p></div>
      <div class="pure-u-2-5"><p>Midterm Review</p></div>
      <div class="pure-u-2-5"><p>Midterm Review</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Eight</p></div>
      <div class="pure-u-2-5"><p>Non-Linear Editing and Law of Accelerating Returns</p></div>
      <div class="pure-u-2-5"><p>Blender: Video Production</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Nine</p></div>
      <div class="pure-u-2-5"><p>Gamergate and Feminist Critique of Game Industry</p></div>
      <div class="pure-u-2-5"><p>DOSBox: ZZT, Autocesk Animator, etc. <br/> Digital Archeology</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Ten</p></div>
      <div class="pure-u-2-5"><p>Augmented and Virtual Reality</p></div>
      <div class="pure-u-2-5"><p>Blender + Unity</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Eleven</p></div>
      <div class="pure-u-2-5"><p>YouTube, Twitch, Twitter and Media Virality</p></div>
      <div class="pure-u-2-5"><p>Chroma-Keying/Green screen in Gimp</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Twelve</p></div>
      <div class="pure-u-2-5"><p>TBA</p></div>
      <div class="pure-u-2-5"><p>Screencasting</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Thirteen</p></div>
      <div class="pure-u-2-5"><p>Final Project Review</p></div>
      <div class="pure-u-2-5"><p>Final Project Review</p></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-5"><p>Week Fourteen</p></div>
      <div class="pure-u-2-5"><p>MOVIE DAY</p></div>
      <div class="pure-u-2-5"><p>MOVIE DAY</p></div>
    </div>
    
    
  </body>
</html>
